.h-1{
  font-size: 1.8rem;
}

.h-2{
  font-size: 1.8rem;
}

.header {
  font-size: 5rem;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(to right bottom, #ff000f, #f911bf);
  -webkit-background-clip: text;


}