@mixin radiant-text() {
  color: transparent;
  -webkit-background-clip: text;
}

.h-1 {
  font-size: 5rem;
  background-image: linear-gradient(to right , #f79d4e, #ee0043);
  @include radiant-text;
}

.h-2 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
}

.header {
  font-size: 5rem;
  font-weight: bold;
  background-image: linear-gradient(to right bottom, #ff000f, #f911bf);
  @include radiant-text;

}

