.link{
  font-size: 1.6rem;
  text-decoration: none;
  color: $color-font-black;
  transition: all 0.3s;
  border-bottom: 1px solid black;

  &:hover{
    color:$color-font-black-light-1;
    cursor: pointer;
    transform:scale(1.5);

  }
}

