.main {
  .card {
    width: 70vw;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: #c4c4c425;
    .header {
      position: absolute;
      top: 10vh;
      right: 12vw;
    }

    .picture {
      width: 20vw;
      height: 20vh;
      img {
        background-position: top;
        background-size: cover;
        width: 20vw;
        height: 20vh;
        border: 1px solid black;
      }
      border: 1px solid black;
    }
    .sub-topics {
      margin-top: 10px;
    }

    &:hover {
      cursor: pointer;
      .header {
        position: absolute;
        left: 0;
        top: 0;
      }
      .sub-topics {
        position: absolute;
        left: 0;
        top: 60px;
      }
    }
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 2rem 8rem;

  .item {
    display: flex;
    flex-direction: column;
    border: 1px solid #00ffe7;
    min-width: 30%;
    flex: 1 1 auto;
    margin: 0 2rem 1.5rem;
    height: auto;
    min-height: 200px;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 3rem;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      background-image: linear-gradient(to right bottom, #00ffe7, #11cef9);
    }
    &:nth-child(2) {
      background-image: linear-gradient(to right bottom, #00ffe7, #11cef9);
    }

    &:active {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      transform: scaleY(0.95);
    }
  }
}
